{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Administração</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="{{ url_for('admin.dashboard') }}" class="list-group-item list-group-item-action">
                    <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                </a>
                <a href="{{ url_for('admin.listar_usuarios') }}" class="list-group-item list-group-item-action">
                    <i class="fas fa-users me-2"></i>Gerenciar Usuários
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}